<h1>Sign in here!</h1>
<%= form_for :session, :url => sessions_path do |f| %>
<%= f.text_field :email, placeholder: 'Email' %>
<%= f.password_field :password, placeholder: 'Password' %>
<%= f.submit 'Sign In!' %>
<% end %>
<%= link_to 'New account', new_user_path %>
